[Unit]
Description=File hosting service with encryption
Documentation=https://git.framasoft.org/luc/lufi
Requires=network.target
After=network.target

[Service]
Type=forking
User={{ lufi_username }}
RemainAfterExit=yes
WorkingDirectory={{ lufi_app_dir }}
PIDFile={{ lufi_app_dir }}/script/hypnotoad.pid
ExecStart=/usr/bin/carton exec hypnotoad script/lufi
ExecStop=/usr/bin/carton exec hypnotoad -s script/lufi
ExecReload=/usr/bin/carton exec hypnotoad script/lufi
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

